.heroSection{
    width: 100vw;
    height: 70vh;
    background-color: var(--whitesmoke);
}

.profileImgWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.profileImg{
    
    height: 100%;
}